
body{background-color:rgb(202, 180, 180);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
     .div1 p{text-align: justify;}
     .div1 h1{font-size: 50px ;
             border-radius: 20px;}
    
    
    .div1{width: 100%;
         padding-left: 3%;}
    
    .div2 img{width: 30%;
        position: relative;
         left: 300px;
         top:50px;
        border:black 11px double;
    border-radius: 90px;}
    
    .div2 h3{position: relative;
        left: 330px; top: 40px;
       color:rgb(29, 36, 22);
    text-shadow: 2px 2px red;}
    
    section{display: flex;
           margin-bottom: 130px;}
    
    .div1 a{text-decoration: none; padding: 8px 10px; font-weight: bolder;color: white;background-image:linear-gradient(navy,blue); border-radius: 5px;}
     .section2 img{width:40%; border: 10px black double; border-radius: 100px;
                margin-left: 100px;margin-right: 100px;}
     .dream{font-size:45px;}
      
     .div4{width: 100%;}
    
     .div4 p{margin-right: 70px;}
    
     .section2 p{text-align: justify;}
     footer a{color: white;}
     footer{background-color: black;
            width: 100%;
            height: 110px;
             color: white;
            text-align: center;}