
body{background-color:rgb(245, 240, 240);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
     .div1 p{text-align: justify;}
     .div1 h1{font-size: 50px ;
             border-radius: 20px;}
    
    
    .div1{width: 100%;
         padding-left: 3%;}
    
    .div2 img{width: 30%;
        position: relative;
         left: 300px;
         top:50px;
        border:black 11px double;
    border-radius: 90px;}
    
    .div2 h3{position: relative;
        left: 330px; top: 40px;
       color:rgb(29, 36, 22);
    text-shadow: 2px 2px red;}
    
    section{display: flex;
        box-sizing: border-box;
           margin-bottom: 100px;}
    
    .div1 a{text-decoration: none; padding: 8px 10px; font-weight: bolder;color: white;background-image:linear-gradient(navy,blue); border-radius: 5px;}
     .section2 img{width:40%; border: 10px black double; border-radius: 100px;
                margin-left: 100px;margin-right: 100px;}
     .dream{font-size:45px;}
      
     .div4{width: 100%;}
    
     .div4 p{margin-right: 70px;}

     input{padding: 5px;color: azure;background-color: brown;
          border: burlywood solid 3px;border-radius: 6px;
        cursor: help;}
    
     .section2 p{text-align: justify;}
     footer a{color: white;}
     footer{background-color: black;
            width: 100%;
            height: 110px;
             color: white;
            text-align: center;}

    .ex{text-align: center;color: blue;}        
   
   .div-5{width: 50%;padding: 10px;} 
   .div-6{width: 50%;padding: 10px;} 
   .div-5 p{text-align: justify; padding-right: 10px;}
   .div-6 p{text-align: justify;}
    
       
   .ex{font-size: 47px;}  
   .main{display: flex;}
   .color{color: rgb(182, 67, 26);}


   .box-shadow1{box-shadow: rgb(0, 0, 0) 6px 5px 10px;
                margin-left: 10px;margin-right: 10px;
            padding: 18px;
        margin-left: 35px;}
   .box-shadow2{box-shadow: purple 9px 7px 10px;
                 margin-left: 10px; margin-right: 10px;
                padding: 16px;
            margin-right: 30px;
        height: 280px;}
  